body {
    background: linear-gradient(62.36deg, rgba(121, 38, 255, 0.846) 4.3%, rgba(81, 173, 224, 0) 100%);
    font-family: 'Georama';
    margin: 17px;
}

#nav-bar {
    max-height: 23vh;
    background-color: #FEFEFE;

}

#logo {
    width: 109px;
    height: 132px;
}

#main-menu {
    display: inline-block;
    width: 75%;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000000;

    
    padding-bottom: 2%;
}

#main-menu .main-menu-items {
    list-style: none;
    padding-left: 95px;
}

#main-menu .main-menu-items li {
    float: left;
    margin-right: 2%;
}

.right-menu{
    display: inline-block;

    position: absolute;
    margin-top: 2%;
}

.right-menu button{
    width: 122px;
    height: 45px;
    border: 1px solid #3F4FE1;
    border-radius: 25px;
    background-color: transparent;

    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #000000;
}

.right-menu button:nth-child(2){
    margin-left: 45px;
    /* color: #FFFFFF;
    background-color: #7934EA; */
}

.right-menu button:hover{
    color: #FFFFFF;
    background-color: #7934EA;
}


#top-section{
    background-image: url(./Resources/Top_image.png);
    background-repeat: round;
    border-radius: 10px;
    height: 75vh;
}

#top-section .introduction{
    font-family: 'Chicle';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    padding-top: 31px;
    color: #FFFFFF;
}
#top-section .introduction p{
    margin: 0 0 0 0;
}

#top-section .trading-methods{
    text-align: center;
}

#top-section .trading-methods ul{
    list-style: none;
    display: inline-block;
    background: rgba(21, 21, 21, 0.45);
    padding-inline-start: 0;
}

#top-section .trading-methods ul li{
    float: left;
    width: 136px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: Georama;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
}

#top-section .trading-methods ul .active{
    color: #000000;
    background-color: #FFFFFF;
}

#top-section .search-box{
    text-align: center;
}

#top-section .search-box input{
    width: 700px;
    height: 56px;
    border-width:0;
    padding: 0;
    margin-right: -5px;
    border-radius: 10px;

    padding-left: 30px;
    padding-top: 17px;
    padding-bottom: 17px;

    font-family: 'Sansation';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
}

#top-section .search-box .search-button{
    padding-top: 4px;
    height: 90px;
    width: 90px;
    background-color: red;
    border-radius: 10px;
}

.centered{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#helps{
    text-align: center;
    background-color: #FFFFFF;
    padding-bottom: 40px;
}

#helps h2{
    padding-top: 40px;
}

#helps .help-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 30px;
    padding-right: 30px;
    column-gap: 30px;
}

#helps .help-item button{
    padding: 7px;
}

.portfolio-content{
    display: none;
}

.portfolio{
    display: grid;
    grid-template-columns: unset;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    overflow-x: scroll;
}
